.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 6px;
    transition: box-shadow 0.3s ease-in-out;
    height: 400px;
    /* max-height: 20vh; */
    width: auto;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 16px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.card-text {
    padding: 8px 0px;
}

.btn-primary {
    width: 80%;
    background-color: #6c5ce7;
    border-color: #6c5ce7;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.2s;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #6c5ce7;
    border-color: #7664fc;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 14px;
        padding: 6px 12px;
    }
}